<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <Configuration>Release</Configuration>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\GlyphStash.Desktop-win-x64-aot\</PublishDir>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
    <OS Condition="'$(OS)' == ''">Windows_NT</OS>
  </PropertyGroup>
</Project>
